html {
 margin:0;
 padding:0;
 }
body {
 margin:0;
 margin-right:2px;
 padding:0;
 background-color:#ddd;
 }
table.icone {
	background-color: #cceeff;
	border: 1px solid #77a;
	font-family: Helvetica, serif;
	padding:3px 2px 12px 2px;
	margin:-1px;
	width:220px;
	}
td.th	{color: black;
	font-size: 15px;
	text-align:center;
	vertical-align:bottom;
	}		
td.alt	 {color:#666666;
	font-size: 11px;
	text-align:center;
	font-style:italic;
	vertical-align:top;
	}	
td.c1   {color: red;
	font-size: 15px;
	text-align:center;
	}
td.name   {color: #444444;
	font-size: 12px;
	text-align:center;
	}	
td.e  {
	width:9px;
	}
td.minimax  {color: #000077;
	font-size: 12px;
	text-align:right;
	}	
td.hl   {color: green;
	font-size: 11px;
	text-align:left;
	height:13px; /* humidité */
	}
td.h   {color: green;
	font-size: 12px;
	text-align:right;
	}
td.hunit  {color: green;
	width:10px;
	text-align:left;
	font-size: 10px;
	}		
td.pl   {color: #444444;
	font-size: 11px;
	text-align:left;
	height:13px; /* MinMax Pression */
	}
td.p   {color: #444444;
	font-size: 12px;
	text-align:right;
	}	
td.punit  {color: #444444;
	width:10px;
	text-align:left;
	font-size: 10px;
	}		
td.nl   {color: #990099;
	font-size: 11px;
	text-align:left;
	}
td.n   {color: #990099;
	font-size: 12px;
	text-align:right;
	}	
td.nunit  {color: #990099;
	width:10px;
	text-align:left;
	font-size: 10px;
	}
td.cl   {color: #b09000;
	font-size: 11px;
	text-align:left;
	}
td.c   {color: #908000;
	font-size: 12px;
	text-align:right;
	}
td.cunit  {color:#908000;
	width:10px;
	text-align:left;
	font-size: 10px;
	}	
td.s	{color: black;
	font-size: 9px;
	text-align:left;
	font-style:italic;
	height:13px;
	}
.date  {color:black;
	width:75px;
	border:1px solid blue;
	font-size:12px;
	}
div.chart	{
	width:100%;
	border:solid 1px black;
}


td.title {
    height:25px;
    text-align:center;
    font-weight:bold;
    padding-top:0px;
}
.submitG input{
	background-color:#ddd;
	height:22px;
	color:#00a;
	font-size:12px;
}
td.submitG {
	height:30px;
	width:90px;
	vertical-align:bottom;
	padding:0px;
}
.submit {
	background-color:#ddd;
	color:#00a;
	font-size:12px;
}
table.container {
	padding:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:-5px;
	border-spacing:0px;
}
td.container {
	vertical-align:bottom;
}
td.modules	{
 text-align:left;
}
table.G {
	height:312px;
	font-size:14px;
	background-color:#cceeff;
	padding:0px;
	border:0px;
	border:solid 1px #55a;	
	border-collapse:collapse;
 }
td.g	{
	height:26px;
	text-align:left;
    padding:0px 0px 0px 5px;	
}
div.fl {
	width:65px;
	height:26px;
	float:left;
}
div.fr {
	width:110px;
	height:26px;
	float:left;
}
td.l {
	width:75px;
}
div.f {
	width:175px;
	height:26px;
}
table.chk{
    border-spacing:0px;
    padding:0px;
}    
.chk td {
	font-size:12px;
	width:100%;
}
input.g {
	color:#00a;
	vertical-align:bottom;
	background-color:#ddd;
	height:19px;
	font-size:12px;
	margin-left:-4px;
	margin-bottom:25px;
}
span.clear {
	clear:both;
}
div.clear {
	clear:both;
}

table.bulle {
	font-size:16px;
	text-align:center;
	width:214px;
	padding:2px;
	border:0;
	background-color:white;
	}
.bulle caption {
	background-color:white;
}
.bulle th {
	font-size:11px;
	text-align:left;
	height:11px;
	width:30px;
}
td.name {
	font-size:12px;
	font-weight:normal;
	text-align:left;
	height:11px;
	margin:0;
	padding:0;
}
.bulle td {
	font-size:12px;
	text-align:left;
	font-weight:bold;
	height:13px;
	margin:0;
	padding:0;	
}

.tooltip	{
  	position: relative;
	}

.tooltip div	{color:black;
    width:220px;
  	visibility: hidden;
  	position: absolute;
  	padding-top:5px;
  	top: 100%;
  	left: -6px;
  	z-index:100;
  	width: 218px;
  	border: 1px solid #77a;
  	background-color:white;
  	} 	
.tooltip:hover	{
  	border: 0;
	}
.tooltip:hover div	{
  	visibility: visible;
	}
td.tooltip {
	height:15px;
	padding:0px 0px 0px 0px;
	position:absolute;
	margin-top:-3px;
}
a.tooltip {
	font-size:9px;
}
table.info	{
	width:100%;
	margin:auto;
	text-align:left;
	background-color:white; 
}
.info td {
    font-size:10px;
}

