html {
// border:1px solid blue;
 }
body {
 //border:1px solid red;
 margin:0;
 padding:0;
 }
table.t {
	background-color: #cceeff;
	border: 1px solid gray;
	font-family: Helvetica, serif;
	padding:2px;
	}
td.th	{color: black;
	font-size: 18px;
	text-align:center;
	vertical-align:bottom;
	}		
td.alt	 {color:#666666;
	font-size: 11px;
	text-align:center;
	font-style:italic;
	vertical-align:top;
	}	
td.c1   {color: red;
	font-size: 18px;
	text-align:center;
	}
td.name   {color: #444444;
	font-size: 15px;
	text-align:left;
	}	
td.e  {
	width:10px;
	}
td.minimax  {color: #000077;
	font-size: 12px;
	text-align:right;
	}	
td.hl   {color: green;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.h   {color: green;
	font-size: 12px;
	text-align:right;
	}
td.hunit  {color: green;
	width:10px;
	text-align:left;
	font-size: 10px;
	}		
td.pl   {color: #444444;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.p   {color: #444444;
	font-size: 12px;
	text-align:right;
	}	
td.punit  {color: #444444;
	width:10px;
	text-align:left;
	font-size: 10px;
	}		
td.nl   {color: #990099;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.n   {color: #990099;
	font-size: 12px;
	text-align:right;
	}	
td.nunit  {color: #990099;
	width:10px;
	text-align:left;
	font-size: 10px;
	}
	
td.cl   {color: #b09000;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.c   {color: #908000;
	font-size: 12px;
	text-align:right;
	}
td.cunit  {color:#908000;
	width:10px;
	text-align:left;
	font-size: 10px;
	}
	
td.s	{color: black;
	font-size: 9px;
	text-align:left;
	font-style:italic;
	}	

/****************************/
td.modules	{
  	text-align:left;
}
.tooltip	{
  	position: relative;
  	background: #cceeff;
  	//text-decoration: none;
  	color: #000077;
  	font-size:12px;
  	text-align:left;
	}
.tooltip div	{color:black;
  	visibility: hidden;
  	position: absolute;
  	padding-top:5%;
  	top: 100%;
  	left: -6px;
  	z-index:100;
  	width: 232px;
  	border: 1px solid gray;
  	background-color:#cceeff;
  	}
.tooltip:hover	{
  	border: 0;
	}
.tooltip:hover div	{
  	visibility: visible;
	}

