
table.t {
	background-color: #cceeff;
	border: 1px solid grey;
	font-family: Helvetica, serif;
	}
th	{color: black;
	font-size: 14px;
	text-align:center;
	}		
td.c1   {color: red;
	font-size: 17px;
	text-align:right;
	}
td.alt	 {color:#666666;
	font-size: 11px;
	text-align:center;
	font-style:italic;
	}	
td.e  {
	width:8px;
	}
td.minimax  {color: blue;
	font-size: 12px;
	text-align:right;
	}	
td.hl   {color: green;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.h   {color: green;
	font-size: 12px;
	text-align:right;
	}	
td.pl   {color: #444444;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.p   {color: #444444;
	font-size: 12px;
	text-align:right;
	}	
	
td.nl   {color: #cc00cc;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.n   {color: #cc00cc;
	font-size: 12px;
	text-align:right;
	}	
	
td.cl   {color: #b09000;
	font-size: 11px;
	text-align:left;
	height:15px;
	}
td.c   {color: #908000;
	font-size: 12px;
	text-align:right;
	}
td.s	{color: black;
	font-size: 9px;
	text-align:left;
	font-style:italic;
	}	
